body {
	width: 100%;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.header {
	height: 100px;
	background: #ff0000;
  position: relative;
}
.header-white{
  background-color: #ffffff;
  position: absolute;top: 20px;right: 20px;
  padding: 10px;
  
}
.header-inside{
  width: 40px;
  height: 40px;
  background-color:  #8c2727;
  float: left;
  margin-right: 10px;
  
}
.header-inside:last-child{
  margin-right:0px;
}
.side {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}
.content {
	float: left;
	width: 250px;
	height: 250px;
  background: #8c2727;
  position: relative;
}

.content-unity{
  margin-top: 40px;
	margin-left: 40px;
}

.content-inside{
	width: 140px;
	height: 40px;
	background-color: #ff9e6b;
  border: solid 5px #ffffff; 
  margin-bottom: 10px;
}


.footer {
	height: 100px;
	background: #ffd000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
