body {
	width: 100%;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.header {
	height: 100px;
	background: #ff0000;
  z-index: 10;
}
.header-inside-top{
  width: 40px;
  height: 40px;
  background: #8c2727;
  padding: 10px;
  z-index: 20;
}
.header-inside-middle{
  width: 40px;
  height: 40px;
  background: #8c2727;
  padding: 10px;
  z-index: 20;
}
.header-inside-bottom{
  width: 40px;
  height: 40px;
  background: #8c2727;
  padding: 10px;
  z-index: 20;
}
.side {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}
.content {
	float: left;
	width: 250px;
	height: 250px;
  background: #8c2727;
  z-index: 10;
}
.content-inside-top{
	float: left;
	width: 150px;
	height: 50px;
	background: #ff9e6b;
  padding: 5px;
  z-index: 20;
}
.content-inside-middle{
	float: left;
	width: 150px;
	height: 50px;
	background: #ff9e6b;
  padding: 5px;
  z-index: 20;
}
.content-inside-bottom{
	float: left;
	width: 150px;
	height: 50px;
	background: #ff9e6b;
  padding: 5px;
  z-index: 20;
}
.footer {
	height: 100px;
	background: #fff700;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
