body {
	width: 100%;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.header {
	height: 100px;
	background: #ff0000;
  z-index: 10;
  position: relative;
}
.header-white{
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  z-index: 15;
  position: absolute;top: 20px;right: 20px;
  padding: 10px;
  
}
.header-inside{
  width: 40px;
  height: 40px;
  background-color:  #8c2727;
  z-index: 20;
  float: left;
  margin-right: 10px;
  
}
.header-white:last-child{
  margin-right:none;
}
.side {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}
.content {
	float: left;
	width: 250px;
	height: 250px;
  background: #8c2727;
  z-index: 10;
  position: relative;
}
#top.content-inside{
	width: 140px;
	height: 40px;
	background-color: #ff9e6b;
  border: solid 5px #ffffff; 
  z-index: 20;
  position: absolute;top: 40px ;left: 40px;
}
#middle2.content-inside{
	float: left;
	width: 140px;
	height: 40px;
	background-color: #ff9e6b;
  border: solid 5px #ffffff;

  z-index: 20;
  position: absolute;top: 100px ;left: 40px;
}
#bottom.content-inside{
	float: left;
	width: 140px;
	height: 40px;
	background-color: #ff9e6b;
  border: solid 5px #ffffff;
  z-index: 20;
  position: absolute;top: 160px ;left: 40px;
}
.footer {
	height: 100px;
	background: #ffd000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
